h11~=0.14.0
pip~=20.2.4
zlib~=1.2.11
wheel~=0.35.1
openssl~=1.1.1w
cryptography~=3.2.1
typing_extensions~=4.9.0
exceptiongroup~=1.2.0
sniffio~=1.3.0
fastapi~=0.103.0
starlette~=0.27.0
pydantic~=2.5.3
requests~=2.24.0
anyio~=4.2.0
click~=8.1.7
uvicorn~=0.20.0
greenlet~=3.0.1
aiosqlite~=0.18.0
yaml~=0.2.5
sqlalchemy~=2.0.25